<div id="<%= dom_id cart %>">
  <h2 class="font-bold text-lg mb-3">Your Cart</h2>
  <table class="table-auto">
    <tr>
      <td colspan="6">
        <p class="py-2 px-3 bg-orange-50 mb-5 text-orange-500 font-medium rounded-lg inline-block">Your cart is empty. Try adding some products from the catalog.</p>
      </td>
    </tr>
  </table>
  <div>