<%# Inside the partial template, we refer
to the current object by using the variable name that matches the name
of the template. In this case, the partial is named line_item, so inside the
partial we expect to have a variable called line_item. %>
<% if line_item == @current_item %>
  <tr class="line-item-highlight">
  <% else %>
    <tr>
    <% end %>
    <td class="text-right"><%= line_item.quantity %></td>
    <td>&times;</td>
    <td class="pr-2">
      <%= line_item.product.title %>
    </td>
    <td class="text-right font-bold">
      <%= number_to_currency(line_item.total_price) %>
    </td>
  </tr>